// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 18px;
$middleFontSize          : 16px;
$smallFontSize           : 14px;
$tinyFontSize            : 12px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #000;
$decor-color-1           : #9ca85a;
$decor-color-2           : #fff;
$decor-color-3           : #ccc;

$bg-primary              : #fff;
$bg-decor-1              : #000;
$bg-decor-2              : #ccc;
$bg-decor-3              : #9ca85a;
$bg-decor-4              : #778c03;
$bg-decor-5              : #e1e1e1;
$bg-decor-6              : #3f3f3f;

$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;


// Border Color
$border-color-1          : #eee;
$border-color-2          : #ccc;
$border-color-3          : #333;

$box-shadow-color-1      : #bbb;